<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ask" value="中华人民共和国2"/>
  </appSettings>
  <connectionStrings>
    <add name="nihao" connectionString="中国3"/>
    <add name="redis" connectionString="127.0.0.1:4963,password=IAmWoker!520LoverForever*(annotation)LinuxWindowsMac,ssl=false" />
    <add name="mysql" connectionString="server=localhost;port=3307;user id=root;pwd=mysql;database=sports;sslmode=none;pooling=true;Charset=utf8"
          providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
</configuration>